<fieldset class="window fullWindow" ng-controller='chatController'>
    <legend class="windowLegend"><i class="fa fa-comment-o fa-fw"></i>&nbsp; CHAT</legend>
    <div class="chat">
        <span>Incoming Chat: </span>
        <div scroll-glue id="scrollContainer" class="scrollContainer">
            <ul ng-bind-html="messageLog" class="noBullet"></ul>
        </div>
        <div class="chatControl">
            <form ng-submit="sendMessage(message)"><span class="messageLabel">Message: </span><input type="text"  ng-model='message' id="outgoingChatMessage">
            <button id="chatSubmit">SUBMIT</button></form>
        </div>
    </div>
</fieldset>