<div class="game16to9res" id="gameContainer">
    <canvas id="mpGameCanvas" width="960" height="540"></canvas>
    <div id="blocker">
        <div id="instructions">
            <span style="font-size:40px">Click to play</span>
            <br />
            W, A, S, D = Move, SPACE = (double)Jump, MOUSE = Look around
        </div>
    </div>
</div>
<div class="editorControls">
    <form>
        <table>
            <tr><td><label for="radius">Radius:&nbsp;</label></td><td><input type="text" id="radius"></td></tr>
            <tr><td><label for="width">Width</label></td><td><input type="text" id="width"></td></tr>
            <tr><td><label for="height">Height:&nbsp;</label></td><td><input type="text" id="height"></td></tr>
            <tr><td><label for="depth">Depth:&nbsp;</label></td><td><input type="text" id="depth"></td></tr>
            <tr><td><label for="x">x:&nbsp;</label></td><td><input type="text" id="x"></td></tr>
            <tr><td><label for="y">y:&nbsp;</label></td><td><input type="text" id="y"></td></tr>
            <tr><td><label for="z">z:&nbsp;</label></td><td><input type="text" id="z"></td></tr>
            <tr><td><label for="mass">Mass:&nbsp;</label></td><td><input type="text" id="mass"></td></tr>
            <tr><td><label for="material">Material:&nbsp;</label></td><td><input type="text" id="material"></td></tr>
            <tr><td><label for="widthSegments">Width segments:&nbsp;</label></td><td><input type="text" id="widthSegments"></td></tr>
            <tr><td><label for="heightSegments">Height segments:&nbsp;</label></td><td><input type="text" id="heightSegments"></td></tr>
            <tr><td><label for="nonPhysMovement">Non physical movement:&nbsp;</label></td><td><input type="text" id="nonPhysMovement"></td></tr>
            <tr><td><label for="hasPhys">Has physics:&nbsp;</label></td><td><input type="text" id="hasPhys"></td></tr>
            <tr><td><label for="update">Update in game loop:&nbsp;</label></td><td><input type="text" id="update"></td></tr>
            <tr><td><label for="damping">Body damping:&nbsp;</label></td><td><input type="text" id="damping"></td></tr>
        </table>
        <input type="button" value="ADD">
    </form>
</div>