<div ng-if="collapsed == false" ><a class="navCollapse" ng-click="openClose()"><span class="fa fa-arrow-left"></span>&nbsp; CLOSE-NAV</a></div>
<div ng-if="collapsed == true"><a class="navCollapse" ng-click="openClose()">&nbsp;<span class="fa fa-arrow-right"></span>&nbsp;</a></div>
<hr>
<ol>
    <li ng-if="collapsed == true" ng-repeat="button in buttons"><a ui-sref="{{ button.sref }}"><i class="{{ button.fa }}"></i></a></li>
    <li ng-if="collapsed == false" ng-repeat="button in buttons"><a ui-sref="{{ button.sref }}"><i class="{{ button.fa }}"></i>&nbsp; {{ button.name }}</a></li>
</ol>